body {
    background-color: white;
}

#btn {
    border: none;
    
}

.active {
    font-size: 1.2em;
}

.menu {
    text-align: right;
}

section {
    width: 100%;
    padding: 10px;
}

#1text {
    font-size: .65em;
    text-decoration: none;
}

.imgcon{
    width: 350px;
    margin: 3px;
}

#img1, #img2, #img3 {
    width: 100%;
}

.homepage {
    margin: auto;
}