body {
    background-color: white;
}

#btn {
    border: none;
    
}

.active {
    font-size: 1.2em;
}

.menu {
    text-align: right;
}

section {
    background-color: #d9d0d0;
}

#1text {
    font-size: .65em;
    text-decoration: none;
}
