body {
    background-color: #121212;
}

#btn {
    border: none;
    
}

.active {
    font-size: 1.2em;
}

.menu {
    text-align: right;
    background-color: black;
}

section {
    width: 100%;
    padding: 10px;
}

#1text {
    font-size: .55em;
    text-decoration: none;
}

#img1, #img2, #img3 {
    width: 100%;
    
}

.imgcon {
    width: 300px;
}
